<div class="container">
  {{#if model.payments}}
  <h4>最近分成记录</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>分成时间</th>
          <th>交易哈希</th>
          <th>分成金额</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.payments as |tx|}}
          <tr>
            <td>{{format-date-locale tx.timestamp}}</td>
            <td>
              <a href="https://explorer.web.sero.cash/txsInfo.html?hash={{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{tx.tx}}</a>
            </td>
            <td>{{format-balance tx.amount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>无分成记录</h3>
  {{/if}}
</div>
